
.tantu_mainContainer {
  background-color: rgb(241, 238, 226);
  display: flex;
  align-items: center;
  justify-content: center;
}
.tantu_flexContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.tantu_div1 {
  flex: 2.5;
  /* width: 90%; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 40px;
}
.tantu_div1_image{
    flex: 2;
    height: 400px;
    width: 500px;
}
.tantu_div1_textBox{
    background-color: rgb(171, 148, 122);
    padding: 50px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 1.5rem;
    color: rgb(230, 224, 217);
    height: 400px;
    width: 300px;
    flex: 1;
}
.text_div_2{
    margin-top: 30px;
    font-size: 1.3rem;
    font-weight: bold;
}
.tantu_div2 {
    padding: 40px 20px;
  flex: 1.5;
}

.tantu_text1 {
  text-decoration: underline;
  font-size: 2rem;
  font-weight: 500;
  width: 70%;
  line-height: 40px;
}
.tant_text2 {
    line-height: 30px;
  font-weight: 300;
  font-size: 1.2rem;
  width: 70%;
  margin-top: 30px;
}
@media screen and (max-width: 1300px){
    .tantu_div1_textBox{
        flex: 1.5;
    }
}
@media screen and (max-width: 1200px){
    .tantu_flexContainer{
        flex-direction: column;
    } 
    .tantu_textDiv{
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        /* border: 1px solid red; */
    }
}

@media screen and (max-width: 1000px){
    .tantu_div1_image{
        height: 300px;
        width: 400px;
    }
    .tantu_div1_textBox{
        height: 300px;
        width: 200px;
    }
}
@media screen and (max-width: 600px){
    .tantu_div1{
        flex-direction: column;
    }
    .tantu_div1_imageDiv{
        margin-bottom: 30px;
    }
    .tantu_div1_textBox{
        width: 100%;
    }
}