.categories_mainContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(242, 239, 227);
    flex-direction: column;
}
.categories_textContainer{
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.categories_headText{
    color: #5c5c5c;
    font-size: 2.5rem;
    font-weight: 500;
}
.categories_subText{
    color: black;
    font-size: 1.5rem;
    margin-top: 20px;
}
.categories_flexContainer{
    width: 80%;
     display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 40px 0px;
    margin-top: 40px;
}
.categories_cardDiv{
    background-color: white;
    padding: 10px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
  overflow: hidden;
  cursor: pointer;
}
.categories_image_div {
    position: relative; 
  }
  
  .categories_card_image {
    width: 100%;
  }
  
  .categories_image_shadow {
    position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
   opacity: 0; 
  transition: opacity 0.3s ease; 
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff; 
  text-align: center;
  font-size: 1.2rem; 
  padding: 30px;
  }
  .categories_cardDiv:hover .categories_image_shadow {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    opacity: 1;
  }
.categories_cardText_container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
}
.categories_card_head{
    font-size: 1.6rem;
}
.categories_card_subtext{
    font-size: 1rem;
    position: relative;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.categories_card_subtext::after {
    content: '';
    position: absolute;
    bottom: 0; 
    left: 0; 
    width: 0; 
    height: 1px; 
    background-color: #000; 
    transition: width 0.3s ease; 
  }
  
  .categories_cardDiv:hover .categories_card_subtext::after {
    width: 100%; 
  }
  @media screen and (max-width: 500px){
   .categories_textContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
   } 
   .categories_headText{
    font-size: 2rem;
    text-align: center;
   }
   .categories_subText{
    font-size: 1.3rem;
   }
  }