.GreenReason_mainContainer{
    display: flex;
     display: flex;
     align-items: center;
     height: 600px;
     background-color: white;
}
.GreenRason_backContainer{
    position: relative;
}
.GreenReasonMarquee{
    font-size: 3rem;
}
.GreenReason_frontContainer{
    width: 60%;
    display: flex;
    align-items: end;
    justify-content: end;
    z-index: 3;
    position: absolute;
    /* border: 1px solid red; */
    margin-left: 100px;
}
.greenreasonImage{
    width: 300px;
    border-radius: 10px;
}
.greenReasonDivtext{
    margin-left: 30px;
    width: 50%;
}
@media screen and (max-width: 1000px){
    .greenReasonDivtext{
        width: 70%;
    }
    .GreenReason_frontContainer{
        width: 80%;
    }
}
@media screen and (max-width: 800px){
    .greenreasonImage{
        width: 250px;
    }
    .GreenReason_frontContainer{
        flex-direction: column;
        width: 100%;
        margin: 0;
        justify-content: center;
        align-items: center;
    }
    .greenReasonDivtext{
        margin-top: 20px;
    }
}
@media screen and (max-width: 500px){
    .greenreasonImage{
        width: 200px;
    }
}