.Navbar_mainContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(250, 249, 243);
}
.Navbar_itemsContainer{
    margin-left: -40px;
}
@media screen and (max-width: 900px){
    .Navbar_itemsContainer{
        margin-left: 0px;
    }
}
@media screen and (max-width: 900px){
.Navbar_mainContainer{
    display: none;
}
}