.underline-on-hover {
  position: relative;
  cursor: pointer;
}

.underline-on-hover::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: black;
  transition: width 0.3s ease-in-out;
}

.mother-nature-card:hover .underline-on-hover::after {
  width: 100%;
}

/* Add this style to target the title paragraphs */
.mother-nature-card-title {
  text-align: center; /* Align the title text to center */
}

/* Adjustments for card container and card content */
.mother-nature-container {
  padding: 20px;
}

.mother-nature-title {
  text-align: center;
  margin-bottom: 20px;
}

.mother-nature-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.mother-nature-card {
  width: calc(33.33% - 20px); /* Adjust the width based on the number of cards per row */
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.mother-nature-card img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.mother-nature-card-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px;
  box-sizing: border-box;
  transition: transform 0.3s ease;
  transform: translateY(100%);
}

.mother-nature-card-content h2,
.mother-nature-card-content p {
  margin: 0;
}

.mother-nature-card:hover {
  transform: scale(1.05);
}

.mother-nature-card:hover .mother-nature-card-content {
  transform: translateY(0);
}
